* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #555555;
    display: block;
}

p {
    margin: 0;
}

.container {
    max-width: 1183px;
    padding: 0px 5px;
    margin: 0px auto;
}

.header__top {
    background-color: #7AC751;
}

.header-container__top {
    color: white;
    display: flex;
    justify-content: space-between;
}

.header-top__left {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-top__right {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.select-bg {
    background-color: #7AC751;
    color: white;
    border: none;
    outline: none;
}

.header-right__separator {
    padding-left: 20px;
    padding-right: 20px;
}

.button-top__right-el {
    background-color: #7AC751;
    border: none;
    color: white;
}

.header__middle {}

.header-container {
    display: flex;
    padding-top: 21px;
    justify-content: space-between;
    align-items: center;
}

.header-left {}

.header-logo {}

.header-logo__wrap {}

.header-form {
    border: 2px solid #7AC751;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-self: stretch;
}

.header__search-input {
    border: 1.5px solid rgba(227, 227, 227, 0.78);
    border-top: none;
    border-bottom: none;
    border-left: none;
    width: 403px;
    outline: none;
    padding-left: 25px;
}

.select {}

.select-form {
    border: none;
    outline: none;
    padding-left: 10px;
}

.header-container__bottom {
    margin-top: 25px;
}

.header-button__elem {
    width: 55px;
    height: 53px;
    background: #7AC751;
    border-radius: 0px 7px 6px 0px;
    border: none;
}

.button-img {}

.header-right {
    display: flex;
}

.header-righ__img {
    margin-right: 21px;
}

.header-righ__img:last-child {
    margin-right: 0;
}

.header-right__img-wrap {}

.header__nav {
    background-color: rgb(247, 248, 250);
}

.header-container__bottom {}

.header-nav__top {
    display: flex;
}

.header-nav__icon {
    background-color: #7AC751;
    width: 260px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.header-nav__burger {
    width: 24px;
    height: 17px;
    position: relative;
    margin-right: 20px;
}

.header-nav__burger-el,
.header-nav__burger-el::after,
.header-nav__burger-el::before {
    background-color: #FFFFFF;
    height: 2.5px;
    display: block;
    border-radius: 2px;
}

.header-nav__burger-el {
    width: 100%;
}

.header-nav__burger-el::after {
    content: "";
    width: 58%;
    position: absolute;
    top: 7px;
    left: 0px;
}

.header-nav__burger-el::before {
    content: "";
    width: 38%;
    position: absolute;
    top: 14px;
    left: 0px;
}

.header-nav__burger-title {}

.header-nav__ul {
    display: flex;
    align-items: center;
    background-color: #F7F8FA;
    height: 65px;
}

.header-nav__elem {
    padding-left: 65px;
}

.header__main {}

.header__main-container {
    display: flex;
}

.header-nav__bottom {}

.header-nav__ul-bottom {
    background-color: #F7F8FA;
    display: flex;
    flex-direction: column;
    width: 260px;
    left: 135px;
}

.header-nav__elem-bottom {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 29px;
    border-bottom: 0.8px solid #E3E3E3;
}

.border-none {
    border: none;
}

.header-container__center {
    display: flex;
    background: linear-gradient(103.4deg, rgba(241, 250, 255, 0.88) -0.04%, #F1FAFF 100.69%);
    margin: 12px 0px 0px 11px;
}

.header-center__info {
    padding-top: 91px;
    padding-left: 34px;
}

.header-info__title-top {
    color: #7AC751;
    font-size: 22px;
    padding-bottom: 6px;
}


.header-info__title {
    color: #2F2F2F;
    font-size: 40px;

}


.header-center__frame {
    padding-left: 106px;
}

.header-center__frame-wrap {}

.header-info__title-bottom {
    color: rgba(81, 81, 81, 0.71);
    font-size: 27px;
    padding-top: 27px;
    padding-bottom: 35px;
}

.header-info__button {}

.neader-info__button-elem {
    background: #7AC751;
    border-radius: 5px;
    border: none;
    color: white;
    width: 129px;
    height: 40px;
}

.header-center__right {
    display: flex;
    align-items: flex-start;
}

.header__center-slide {}

.header__center-img-wrap {
    width: 374px;
    height: 374px;
}

.header-center__img-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 56px;
}

.header__center-dots {
    display: flex;
    margin-top: 90px;
}

.header__center-dot {
    width: 12px;
    height: 12px;
    background: rgba(122, 199, 81, 0.29);
    border-radius: 50%;
    margin-right: 15px;
}

.header__center-dot:last-child {
    margin-right: 0;
}

.header__center-dot.active {
    background: #7AC751;
    border-radius: 666px;
    width: 24px;
}

.heder-center__ul {
    margin-top: 76px;
    margin-right: 25px;
}

.header-center__img-sm {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.56) 100%);
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

.header-center__img-sm-wrap {
    padding-bottom: 2px;
}

.header-center__cen {
    padding-bottom: 2px;
    color: #7AC751;
    font-size: 17px;
}

.header-center__title-ul {
    font-size: 11px;
    padding: 0.5px 16px;
}


.main-info {
    display: flex;
    padding-top: 65px;
    align-items: center;
    justify-content: center;
}

.main-info__elem {
    padding-left: 107px;
    display: flex;
}

.main-info__titles {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    justify-content: center;
}

.main-info__title {
    padding-bottom: 5px;
    font-size: 20px;
    color: #555555;
}

.main-info__subtitle {
    font-size: 14px;
    color: rgba(81, 81, 81, 0.71);
}

.main-collection {
    margin-top: 70px;
}

.main-collection__read-items {
    display: flex;
}

.main-collection__read-hr {
    margin-right: 3px;
}

.main-collection__items {
    display: flex;
}

.main-collectoin__item-lf {
    margin-right: 19px;
}

.main-collectoin__item-lf-img {
    flex: 1 1 669px;
}

.main-collection__item-lf-wrap {
    object-fit: cover;
}

.main-collectoin__item-rg-img {
    margin-bottom: 13px;
    flex: 1 1 485px;
}

.main-collection__item-rg-wrap {
    object-fit: cover;
}

.main-collection__item-rg-img:last-child {
    padding-bottom: 0;
}

.main-collection__info {
    position: absolute;
    margin-top: 49px;
    padding-left: 31px;
}

.main-collection__title {
    font-size: 22px;
    color: #555555;
    padding-bottom: 10px;
}

.main-collection__subtitle {
    font-size: 20px;
    color: #7AC751;
    padding-bottom: 13px;
}

.main-trending__title {
    font-size: 36px;
    color: #555555;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.main-trending__sec-items {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    align-items: center;
    margin-bottom: 73px;
}

.main-trending__sec-item {
    padding-right: 70px;
    font-size: 24px;
    color: #C2C2C2;

}

.main-trending__sec-item:last-child {
    padding-right: 0px;
}

.colorver {
    color: #7AC751;
}

.main-trending__tov-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(269px, 1fr));
    grid-gap: 32px 32px;
}

.main-trending__tov-item-img {
    object-fit: cover;
    width: 100%;
    height: 288px;
}

.main-trending__tov-item {}

.main-trending__tov-cen {
    display: flex;
}

.main-trending__tov-cen-el {
    margin-right: 7px;
}

.main-trending__tov-cen-el:last-child {
    margin-right: 0px;
}

.main-trending__tov-title {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(117, 117, 117, 0.71);
    margin-top: 16px;
    margin-bottom: 4px;
}

.main-trending__tov-subtitle {
    font-size: 20px;
    color: #555555;
    margin-bottom: 13px;
}

.main-trending__tov-cen-el {
    font-size: 18px;
    color: #7AC751;
}

.main-trending__tov-str {
    font-size: 18px;
    letter-spacing: 0.005em;
    text-decoration-line: line-through;
    color: #CCCCCC;
    padding-left: 7px;
}

.main-trending__tov-cen {
    margin-bottom: 45px;
}

.main-trending__tov-item-new {
    position: absolute;
}

.main-trending__btns {
    display: flex;
    justify-content: center;
}

.main-trending__btn {
    border: 3px solid #CCCCCC;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: transparent;
    position: relative;
    padding: 0;
    margin-right: 14px;
    cursor: pointer;
}

.main-trending__btn:last-child {
    margin-left: 0px;
}

.main-trending__btn::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #CCCCCC;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-trending__btn.active {
    border: 3px solid #7AC751;
}

.main-trending__btn.active::after {
    content: "";
    background-color: #7AC751;
}

.main-special {
    margin-top: 99px;
}

.main-special__left {
    margin-right: 30px;
}

.main-special__pic {
    display: flex;
}

.main-special__title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #555555;
    margin-bottom: 60px;
}

.main-special__about {
    display: flex;
    min-height: 249px;
    overflow: hidden;
    align-items: start;
}

.main-special__about-info {
    margin-left: 24px;
    position: relative;
    z-index: 10;
}

.main-special__list {
    display: flex;
}

.main-special__title-left,
.main-special__title-right {
    font-size: 22px;
    color: #555555;
    margin-top: 28px;
    margin-bottom: 11px;
}

.main-special__subtitle {
    color: #757575;
    margin-bottom: 20px;
}

.main-special__left-info {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
}

.main-special__cen {
    font-size: 18px;
    color: #7AC751;
    margin-right: 7px;
}

.main-special__str {
    font-size: 18px;
    letter-spacing: 0.005em;
    text-decoration-line: line-through;
    color: #CCCCCC;
    margin-right: 19px;
}

.main-special__bt-el {
    background-color: #7AC751;
    border: none;
    color: white;
    padding: 7px 10px;
    border-radius: 2px;
}

.main-special__list-el {
    margin-right: 18px;
}

.main-special__list-el:last-child {
    margin-right: 0px;
}

.main-special__left-pic {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.main-special__left {
    flex: 1 1 50%;
    position: relative;
}

.main-special__left-img-wrap {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-special__list {
    margin-bottom: 29px;
}

.main-special__right {
    flex: 1 1 50%;
    position: relative;
}

.main-special__right-pic {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.main-special__right-img-wrap {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-special__subtitle {
    font-size: 12px;
}

.main-page {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-page__bt {
    background-color: #7AC751;
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 53px;
    padding-left: 20px;
    border-radius: 2px;
    margin-right: 143px;
}

.main-page__hrs {
    width: 58px;
    height: 29px;
    background-color: #7AC751;
    display: flex;
    border-radius: 2px;
}

.main-page__hr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
}

.main-page__input {
    width: 58px;
    height: 29px;
    background-color: #F8FAFB;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    outline: none;
    text-align: center;
}

.main-page__sp-lf {
    margin-right: 9px;
}

.main-page__sp-rg {
    margin-left: 19px;
    margin-right: 23px;
}

.main-customer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews__list {}

.reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 5%);
    background-color: #F8FAFB;
    border-radius: 8px;
    text-align: center;
    padding: 80px 125px 47px;
    position: relative;
}

.main-customer__title {
    font-size: 36px;
    color: #555555;
    margin-bottom: 130px;
}

.main-customer__about {}

.main-customer__about-info {
    font-size: 16px;
    line-height: 150%;
    color: #515151;
    margin-bottom: 32px;
}

.main-customer__about-name {
    font-size: 24px;
    color: #555555;
    margin-bottom: 8px;
}

.main-customer__about-subtitle {
    font-size: 16px;
    color: #515151;
}

.main-customer__img-wrap {
    width: 88px;
    height: 88px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: -40px;
}

.main-customer__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews__list .swiper {
    max-width: 816px;
    min-height: 312px;
    padding-top: 40px;
}

.main-articles {
    margin-top: 115px;
}

.main-articles__title {
    font-size: 36px;
    color: #555555;
    text-align: center;
    margin-bottom: 57px;
}

.main-articles__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22px 26px;
}

.main-articles__item-elements {
    position: relative;
}

.main-articles__item-elem {
    position: relative;
    z-index: 10;
    padding-top: 250px;
    padding-left: 46px;
}

.main-articles__item-img-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
}

.main-articles__item-img {
    object-fit: cover;
}

.main-articles__item-bt {
    display: flex;
    align-items: center;
    background-color: #F8FAFB;
    border: none;
    border-radius: 2px;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-right: 11px;
    padding-left: 9px;
    color: #7AC751;
}

.main-articles__item-bt-title {
    margin-left: 6px;
    font-size: 12px;
}

.main-articles__item-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.main-articles__item-title {
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 5px;
}

.main-articles__item-text {
    font-size: 39px;
    color: #FFFFFF;
    padding-bottom: 28px;
}

.main-articles__item-hr.active {
    color: #FFFFFF;
}

.footer {
    margin-top: 115px;
}

.footer-lists {
    display: flex;
    justify-content: space-between;
}

.footer-list__icon-soc {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.footer-list__icon-text {
    font-size: 16px;
    line-height: 32px;
    margin-top: 10px;
}

.footer-list__icon-soc-el {
    padding-right: 35px;
}

.footer-list__icon-soc-el:last-child {
    padding-right: 0px;
}

.footer-list__elem {
    font-size: 18px;
    color: #555555;
    line-height: 40px;
}

.footer-list__elem.active {
    color: #515151;
    font-weight: bold;
}

.footer-end {
    color: #555555;
    border-top: 1px solid #969696;
    margin-top: 64px;
    padding-top: 53px;
    padding-bottom: 35px;
}

.footer-right__items {
    display: flex;
}

.footer-right__item {
    padding-right: 51px;
}

.footer-right__item:last-child {
    padding-right: 0px;
}

.footer-end__elements {
    display: flex;
    justify-content: space-between;
}

.main-articles__item-hr {
    padding-bottom: 30px;
}