* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #555555;
    display: block;
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
}

.container {
    max-width: 1183px;
    padding: 0px 5px;
    margin: 0px auto;
}

.header__top {
    background-color: #7AC751;
}

.header-container__top {
    color: white;
    display: flex;
    justify-content: space-between;
}

.header-top__left {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-top__right {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-right__separator {
    padding-left: 20px;
    padding-right: 20px;
}

.header__middle {}

.header-container {
    display: flex;
    padding-top: 21px;
    justify-content: space-between;
    align-items: center;
}

.header-left {}

.header-logo {}

.header-logo__wrap {}

.header-form {
    border: 2px solid #7AC751;
    border-radius: 8px;
    display: flex;
    align-items: center;
    align-self: stretch;
}

.header__search-input {
    border: 1.5px solid rgba(227, 227, 227, 0.78);
    border-top: none;
    border-bottom: none;
    border-left: none;
    width: 403px;
    outline: none;
    padding-left: 25px;
}

.select {}

.select-form {
    border: none;
    padding-left: 10px;
}

.header-button {}

.header-button__elem {
    width: 55px;
    height: 53px;
    background: #7AC751;
    border-radius: 0px 7px 6px 0px;
    border: none;
}

.button-img {}

.header-right {
    display: flex;
}

.header-righ__img {
    margin-right: 21px;
}

.header-righ__img:last-child {
    margin-right: 0;
}

.header-right__img-wrap {}

.header__nav {
    background-color: rgb(247, 248, 250);
}

.header-container__bottom {}

.header-nav__top {
    display: flex;
}

.header-nav__icon {
    background-color: #7AC751;
    width: 260px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.header-nav__burger {
    width: 24px;
    height: 17px;
    position: relative;
    margin-right: 20px;
}

.header-nav__burger-el,
.header-nav__burger-el::after,
.header-nav__burger-el::before {
    background-color: #FFFFFF;
    height: 2.5px;
    display: block;
    border-radius: 2px;
}

.header-nav__burger-el {
    width: 100%;
}

.header-nav__burger-el::after {
    content: "";
    width: 58%;
    position: absolute;
    top: 7px;
    left: 0px;
}

.header-nav__burger-el::before {
    content: "";
    width: 38%;
    position: absolute;
    top: 14px;
    left: 0px;
}

.header-nav__burger-title {}

.header-nav__ul {
    display: flex;
    align-items: center;
    background-color: #F7F8FA;
    height: 65px;
}

.header-nav__elem {
    padding-left: 65px;
}

.header__main {}

.header__main-container {
    display: flex;
}

.header-nav__bottom {}

.header-nav__ul-bottom {
    background-color: #F7F8FA;
    display: flex;
    flex-direction: column;
    width: 260px;
    left: 135px;
}

.header-nav__elem-bottom {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 29px;
    border-bottom: 0.8px solid #E3E3E3;
}

.border-none {
    border: none;
}

.header-container__center {
    display: flex;
    background: linear-gradient(103.4deg, rgba(241, 250, 255, 0.88) -0.04%, #F1FAFF 100.69%);
    margin: 12px 0px 0px 11px;
}

.header-center__info {
    padding-top: 91px;
    padding-left: 34px;
}

.header-info__title-top {
    color: #7AC751;
    font-size: 22px;
    padding-bottom: 6px;
}


.header-info__title {
    color: #2F2F2F;
    font-size: 40px;

}


.header-center__frame {
    padding-left: 106px;
}

.header-center__frame-wrap {}

.header-info__title-bottom {
    color: rgba(81, 81, 81, 0.71);
    font-size: 27px;
    padding-top: 27px;
    padding-bottom: 35px;
}

.header-info__button {}

.neader-info__button-elem {
    background: #7AC751;
    border-radius: 5px;
    border: none;
    color: white;
    width: 129px;
    height: 40px;
}

.header-center__right {
    display: flex;
    align-items: flex-start;
}

.header__center-slide {}

.header__center-img-wrap {
    width: 374px;
    height: 374px;
}

.header-center__img-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__center-dots {
    display: flex;
}

.header__center-dot {
    width: 12px;
    height: 12px;
    background: rgba(122, 199, 81, 0.29);
    border-radius: 50%;
    margin-right: 15px;
}

.header__center-dot:last-child {
    margin-right: 0;
}

.header__center-dot.active {
    background: #7AC751;
    border-radius: 666px;
    width: 24px;
}

.heder-center__ul {}

.header-center__img-sm {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.56) 100%);
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

.header-center__img-sm-wrap {
    padding-bottom: 2px;
}

.header-center__cen {
    padding-bottom: 2px;
    color: #7AC751;
    font-size: 17px;
}

.header-center__title-ul {
    font-size: 11px;
    padding: 0.5px 16px;
}


.main-info {
    display: flex;
    padding-top: 569px;
    align-items: center;
    justify-content: center;
}

.main-info__elem {
    padding-left: 107px;
    display: flex;
}

.main-info__titles {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    justify-content: center;
}

.main-info__title {
    padding-bottom: 5px;
    font-size: 20px;
    color: #555555;
}

.main-info__subtitle {
    font-size: 14px;
    color: rgba(81, 81, 81, 0.71);
}